In [37]:
import pandas as pd
import math

In [38]:
df=pd.read_csv("quotes.csv")

In [39]:
df.head()

,quotetext,character,title,author,year
0,They gave themselves up wholly to their sorrow...,NaN,Sense and Sensibility,Jane Austen,1811
1,"No sooner was his father's funeral over, than ...",Mrs John Dashwood,Sense and Sensibility,Jane Austen,1811
2,"He was not an ill-disposed young man, unless t...",NaN,Sense and Sensibility,Jane Austen,1811
3,[...] people always live for ever when there i...,NaN,Sense and Sensibility,Jane Austen,1811
4,"He was not handsome, and his manners required ...",NaN,Sense and Sensibility,Jane Austen,1811

remove duplicates

In [40]:
df = df.drop_duplicates()

In [41]:
df.head()

,quotetext,character,title,author,year
0,They gave themselves up wholly to their sorrow...,NaN,Sense and Sensibility,Jane Austen,1811
1,"No sooner was his father's funeral over, than ...",Mrs John Dashwood,Sense and Sensibility,Jane Austen,1811
2,"He was not an ill-disposed young man, unless t...",NaN,Sense and Sensibility,Jane Austen,1811
3,[...] people always live for ever when there i...,NaN,Sense and Sensibility,Jane Austen,1811
4,"He was not handsome, and his manners required ...",NaN,Sense and Sensibility,Jane Austen,1811

In [42]:
df.quotetext.size

1136

find duplicated quotetexts, take the one with the most info

In [43]:
df = df.sort_values(by=['character', 'title', 'author', 'year'], na_position='last')
df = df.drop_duplicates(subset='quotetext', keep='last')

In [44]:
df.tail(5)

,quotetext,character,title,author,year
274,There's a word for that kind of lie. Hope.,NaN,World War Z: An Oral History of the Zombie War,Max Brooks,2006
275,I'd like to think that's not true. But if it i...,NaN,World War Z: An Oral History of the Zombie War,Max Brooks,2006
276,They must forever be an example to the rest of...,NaN,World War Z: An Oral History of the Zombie War,Max Brooks,2006
776,"Whatever our souls are made of, his and mine a...",NaN,Wuthering Heights,Emily Brontë,1847
769,<<<<<<< HEAD,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv("quotes.csv", index=True)