In [17]:
import pandas as pd
import math

In [6]:
df=pd.read_csv("quotes.csv")

In [11]:
df.head()

,quotetext,character,title,author,year
0,They gave themselves up wholly to their sorrow...,NaN,Sense and Sensibility,Jane Austen,1811
1,"No sooner was his father's funeral over, than ...",Mrs John Dashwood,Sense and Sensibility,Jane Austen,1811
2,"He was not an ill-disposed young man, unless t...",NaN,Sense and Sensibility,Jane Austen,1811
3,[...] people always live for ever when there i...,NaN,Sense and Sensibility,Jane Austen,1811
4,"He was not handsome, and his manners required ...",NaN,Sense and Sensibility,Jane Austen,1811

remove duplicates

In [22]:
df = df.drop_duplicates()

In [23]:
df.head()

,quotetext,character,title,author,year
0,They gave themselves up wholly to their sorrow...,NaN,Sense and Sensibility,Jane Austen,1811
1,"No sooner was his father's funeral over, than ...",Mrs John Dashwood,Sense and Sensibility,Jane Austen,1811
2,"He was not an ill-disposed young man, unless t...",NaN,Sense and Sensibility,Jane Austen,1811
3,[...] people always live for ever when there i...,NaN,Sense and Sensibility,Jane Austen,1811
4,"He was not handsome, and his manners required ...",NaN,Sense and Sensibility,Jane Austen,1811

In [30]:
df.quotetext.size

1136

write to output:

In [31]:
# write the quotes to a file
df.to_csv("quotes_unduplicated.csv", index=False)